@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #bdc3c7;
}
body{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
button{
    display: none;
    padding: .5rem 1rem;
    background-color:#f1c40f;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid black;
    text-align: center;
    cursor: pointer; 
    border-radius: .2rem;
}

.loader{
    display: none;
}


ul{
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   gap: .1rem;
    
}
ul li{
    width: 16rem;
    padding: 1rem 2rem;
    background-color: rgb(31, 29, 29);
    margin-top: 1rem;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: .2rem;

}

.loader.showLoader{
    display: block;
    font-weight: bold;
    font-size: 1rem;
}
.userList.hide{
    display: none;
}